:root {
    /* Colors */
    --color-button: #4263eb;
    --color-hover: #364fc7;
    --color-black-text: #00082f;
    --color-text-white: #fff;

    /* Fonts */
    --font-base: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Mono', monospace;

    /* Dark Blue Theme */
    --bg-color-dark: #00082f;

    /* Pink Theme */
    --color-pink-primary: #d6336c;
    --color-pink-dark: #a61e4d;

    /* Dark Pink */
    --bg-color-dark-pink: #1f000b;

    /* Green Theme */
    --color-green-primary: #28B463;
    --color-green-dark: #1E8449;

    /* Dark Green */
    --bg-color-dark-green: #001b00;

    /* Yellow Theme */
    --color-yellow-primary: #FDD835;
    --color-yellow-dark: #CC9900;

    /* Dark Yellow */
    --bg-color-dark-yellow: #201a02;

    font-size: 62.50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    font-size: 1.6rem;
    font-family: var(--font-base);
    color: var(--color-black-text);

    transition: background-color .5s;
}

.button-theme {
    width: 90%;
    margin: 2rem auto;
}

.button-theme button {
    border: none;
    background-color: transparent;
}

.button-theme ion-icon {
    font-size: 3rem;
    transition: opacity .4s;
    cursor: pointer;
}

.button-theme ion-icon:hover {
    opacity: 0.3;
}

.icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .8rem;
}

.container {
    text-align: center;
    width: 30rem;
    margin: 6rem auto 0;
}

.container img {
    width: 100%;    
}

.container img.avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding: .37rem;
    border: 4px solid var(--color-button);
}

.container h1 {
    margin-top: 2.4rem;
    margin-bottom: .8rem;
    font-size: 3.2rem;
}

.username {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    font-weight: 400;
    opacity: 0.8;
}

.container ul {
    list-style: none;
    margin: 4.8rem 0;
}

ul li + li {
    margin-top: 1.6rem;
}

ul li a {
    height: 5.3rem; 
    background-color: var(--color-button);
    border-radius: .6rem;
    color: var(--color-text-white);  
    font-size: 1.4rem;
    text-transform: uppercase;  

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .5s;
}

ul li a:hover {
    background-color: var(--color-hover);
}

footer {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.6;

    transition: opacity .3s;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: var(--color-black-text);
}

/* --- Dark Blue Theme --- */
body.darkBlue {
    background-color: var(--bg-color-dark);
    color: var(--color-text-white);
}

.darkBlue .button-theme button {
    color: var(--color-text-white);
}

.darkBlue footer a {
    color: var(--color-text-white);
}

/* --- Pink Theme  e Dark Pink--- */
.pink .container img.avatar,
.darkPink .container img.avatar {
    border-color: var(--color-pink-primary);
}

.pink ul li a,
.darkPink ul li a {
    background-color: var(--color-pink-primary);
}

.pink ul li a:hover,
.darkPink ul li a:hover {
    background-color: var(--color-pink-dark);
}


.darkPink {
    background-color: var(--bg-color-dark-pink);
    color: var(--color-text-white);
}

.darkPink .button-theme button {
    color: var(--color-text-white);
}

.darkPink footer a {
    color: var(--color-text-white);
}

/* --- Green e darkGreen Theme --- */
.green .container img.avatar,
.darkGreen .container img.avatar {
    border-color: var(--color-green-primary);
}


.green ul li a,
.darkGreen ul li a {
    background-color: var(--color-green-primary);
}

.green ul li a:hover,
.darkGreen ul li a:hover {
    background-color: var(--color-green-dark);
}

.darkGreen {
    background-color: var(--bg-color-dark-green);
    color: var(--color-text-white);
}

.darkGreen .button-theme button {
    color: var(--color-text-white);
}

.darkGreen footer a {
    color: var(--color-text-white);
}

/* --- Yellow e Dark theme --- */
.yellow .container img.avatar,
.darkYellow .container img.avatar {
    border-color: var(--color-yellow-primary);
}


.yellow ul li a,
.darkYellow ul li a {
    background-color: var(--color-yellow-primary);
    color: var(--color-black-text);
}

.yellow ul li a:hover,
.darkYellow ul li a:hover {
    background-color: var(--color-yellow-dark);
    color: var(--color-text-white);
}

.darkYellow {
    background-color: var(--bg-color-dark-yellow);
    color: var(--color-text-white);
}

.darkYellow .button-theme button {
    color: var(--color-text-white);
}

.darkYellow footer a {
    color: var(--color-text-white);
}

/* --- Modal --- */

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 30rem;
    height: 40rem;
    margin: 25vh auto;
    padding: 1.6rem;
    background-color: #fff;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

.modal .theme {
    width: 12rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme .color-circle {
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    border: 3px solid #999;
}

.theme span {
    color: #00082f;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;

    transition: all .3s;
}

.theme span:hover {
    opacity: 0.2;
    text-decoration: underline;
}

.modal .btnClose {
    color: #000;
    font-size: 3.2rem;

    position: absolute;
    top: 1rem;
    right: 1rem;

    transition: color .3s;
    cursor: pointer;
}

.modal .btnClose:hover {
    color: red;
}

/* Colors Theme */
.theme[data-theme="blue"] > div{
    background-color: var(--color-button);
}

.theme[data-theme="darkBlue"] > div{
    background-color: var(--bg-color-dark);
}

.theme[data-theme="pink"] > div{
    background-color: var(--color-pink-primary);
}

.theme[data-theme="darkPink"] > div{
    background-color: var(--bg-color-dark-pink);
}

.theme[data-theme="green"] > div{
    background-color: var(--color-green-primary);
}

.theme[data-theme="darkGreen"] > div{
    background-color: var(--bg-color-dark-green);
}

.theme[data-theme="yellow"] > div{
    background-color: var(--color-yellow-primary);
}

.theme[data-theme="darkYellow"] > div{
    background-color: var(--bg-color-dark-yellow);
}

@media (max-width: 370px) {
    .container {
        width: 25rem;
    }

    .modal {
        width: 25rem;
    }

    .theme span {
        font-size: 1.4rem;
    }
}
